[2020-12-15 16:29] arun-jain-dev opened #1 "Requesting To Add Patterns In Java"
Hi, I loved your work so far and have got a hang of what you are trying to accomplish. I would like to contribute this repository by creating a whole new branch dedicated to all these patterns in Java Programming Language

[2020-12-16 07:01] aryashah2k commented on #1
Thanks for reaching out Arun, you can definitely contribute to this repository with Java programs for the existing patterns or any new ones you wish to add. Fork the project, create a branch and let me know when you make your first pull request! All the best and thanks for showing interest...

[2020-12-16 07:01] #1 closed

[2020-12-25 17:06] aryashah2k opened #2 "Add Java Pattern Programs"
The repository currently plans creating pattern programs in 3 languages -C,C++ and Python. I wished to see programs in Java Language as well. Reply to this section if you wish to have Java Pattern Programs Section assigned to you.

[2020-12-25 17:09] aryashah2k opened #3 "Add C# Pattern Programs"
Extend Printing Pattern Programs by creating a collection of C# programs for existing patterns.

[2020-12-26 02:58] aryashah2k opened #4 "Add Documentation For Java Pattern Programs"

[2020-12-26 02:59] aryashah2k opened #5 "Add Documentation For C# Pattern Programs"

[2020-12-26 03:14] aryashah2k opened #6 "Add Descriptions For C Pattern Programs"
If you notice through the readme, one column is reserved for textual description of the corresponding pattern.
To Do: Add description for each pattern present in the C Patterns Section of the Repository.

[2020-12-26 03:15] aryashah2k opened #7 "Add Description For Python Patterns"
If you notice through the readme, one column is reserved for textual description of the corresponding pattern.
To Do: Add description for each pattern present in the Python Patterns Section of the Repository.

[2020-12-26 03:15] aryashah2k opened #8 "Add Description For C++ Patterns"
If you notice through the readme, one column is reserved for textual description of the corresponding pattern.
To Do: Add description for each pattern present in the C++ Patterns Section of the Repository.

[2020-12-26 03:17] aryashah2k opened #9 "Add Description For Java Patterns"
If you notice through the readme of existing languages patterns, one column has been reserved for textual description of the corresponding pattern.
To Do: Add description for each pattern present in the Java Patterns Section of the Repository in the future.

[2020-12-26 03:17] aryashah2k opened #10 "Add Description For C# Patterns"
If you notice through the readme of existing languages patterns, one column has been reserved for textual description of the corresponding pattern.
To Do: Add description for each pattern present in the C# Patterns Section of the Repository in the future.

[2020-12-26 14:34] ajaygtm71 commented on #7
can you give a sample of the description to be added.  Do you mean explanation of the code?

[2020-12-26 15:42] aryashah2k commented on #7
Hi Ajay, thanks for reaching out,
Sure , this is what I am trying to convey:
![image](https://user-images.githubusercontent.com/73865728/103154684-04377100-47bf-11eb-8f40-48d20c868dce.png)

[2020-12-26 15:48] aryashah2k commented on #7
The reason behind this is that many patterns are such that require verbal explanation in order to understand what the pattern is about.(Spiral Patterns For Example) So, in order to maintain uniformity, it is better to add verbal description of all the programs since this repo is targeted towards beginner programmers and students who usually get such programs in their first year, for projects or mi

[2020-12-26 15:54] trial1user commented on #10
Hey buddy I would like to take up this section of contributing Patterns in C#. Could you create a section like you did for the current three languages and I could start adding programs once I see the patterns and create programs?

[2020-12-26 15:56] aryashah2k commented on #10
Would you like to add patterns and also add description or only one of those? Anyways thanks for reaching out, you can start working on C# Section and once you are ready, make your first pull request. I shall review it we can move along from there!

[2021-01-01 02:56] aryashah2k opened #11 "Add Symbol Patterns | C Language"

[2021-01-01 02:56] aryashah2k opened #12 "Add Numerical Patterns | C Language"

[2021-01-01 02:57] aryashah2k opened #13 "Add Spiral Patterns | C Language"

[2021-01-01 02:57] aryashah2k opened #14 "Add Alphabetic Patterns | C Language"

[2021-01-01 02:57] aryashah2k opened #15 "Add Pyramid Patterns | C Lnaguage"

[2021-01-01 03:25] aryashah2k opened #16 "Add Wave Patterns | C Language"

[2021-01-10 08:03] khushali6 commented on #2
I want to work on this issue. But What kind of pattern to create?

[2021-01-10 08:28] aryashah2k commented on #2
Hi @khushali6 , thanks for showing interest in this repository and the willingness to contribute to the same. The patterns can be found in the Java Pattern folder assets. For eg, if you want to work on symbol patterns in Java, then this is the folder containing the patterns you can work on- https://github.com/aryashah2k/Printing-Pattern-Programs/tree/main/Java%20Pattern%20Programs/Symbol%20Pattern

[2021-01-10 09:23] khushali6 commented on #2
Thank You So much for guiding me. I would like to work on Even Number Series on https://github.com/khushali6/Printing-Pattern-Programs/blob/main/Java%20Pattern%20Programs/Series%20Patterns/Even%20Number%20Series.jpg

[2021-01-10 09:24] khushali6 commented on #2
public class Even{

     public static void main(String []args){
       int n=100;
       for(int i=1;i<n;i++){
           if(i%2==0)
           System.out.print(i+" ");

       }

     }
}

[2021-01-10 09:32] aryashah2k commented on #2
Hello again😃, Great to see you've identified the patterns and started to write programs for the same. I see you mentioned your program here directly. There's a better way to contribute your code on not only this repo but any repo you wish to contribute on Github in the future and I feel you should start contributing like a pro on my repo and learn along the way!
So the very first thing you need to

[2021-01-11 16:45] aryashah2k opened #17 "C Programming Patterns - Convert Existing 2 Column Format To 4 Column Format"
Current Repo Readme For Individual Languages uses up a lot of space and many people just wont scroll that much down in order to cover all the patterns.

Solution is to modify the readme and make the existing two column table into a four column table with the additional two columns having the same column type i.e Pattern Number and Click To View Column.

[2021-01-11 16:46] aryashah2k opened #18 "Python Programming Patterns - Convert Existing 2 Column Format To 4 Column Format"
Current Repo Readme For Individual Languages uses up a lot of space and many people just wont scroll that much down in order to cover all the patterns.

Solution is to modify the readme and make the existing two column table into a four column table with the additional two columns having the same column type i.e Pattern Number and Click To View Column.

[2021-01-11 16:47] aryashah2k opened #19 "C++ Programming Patterns - Convert Existing 2 Column Format To 4 Column Format"
Current Repo Readme For Individual Languages uses up a lot of space and many people just wont scroll that much down in order to cover all the patterns.

Solution is to modify the readme and make the existing two column table into a four column table with the additional two columns having the same column type i.e Pattern Number and Click To View Column.

[2021-01-12 17:59] trial1user opened #21 "Add Java Wave Patterns"
Hi, I could work on completing the wave patterns under the java section

[2021-01-12 18:01] neelima-girlcoder opened #22 "To Add Spiral Patterns Under Java"
Can I work on completing the Spiral patterns section for Java folder.
you can assign me this issue, i am already done with the almost all the programs under spiral patterns except last one, will complete that soon as well

[2021-01-13 04:10] aryashah2k commented on #22
Hello, thanks for showing interest to contribute in the repository. I have assigned you this issue. You can work on it and make your pull request. I'll review and approve moving forward...

[2021-01-13 04:11] aryashah2k commented on #21
Hello, thanks for showing interest in contributing to this repository, I am assigning this issue to you and once completed, you can create your pull request and I'll review it.

[2021-01-13 04:52] #10 closed

[2021-01-13 04:54] aryashah2k commented on #10
Closing Issues Related To Writing Descriptions For Patterns Since The Pattern Images Might Be Self Explanatory For The User To Figure Out The Description O f The Pattern.

[2021-01-13 04:54] #7 closed

[2021-01-13 04:54] aryashah2k commented on #7
Closing Issues Related To Writing Descriptions For Patterns Since The Pattern Images Might Be Self Explanatory For The User To Figure Out The Description O f The Pattern.

[2021-01-13 04:54] #6 closed

[2021-01-13 04:54] aryashah2k commented on #6
Closing Issues Related To Writing Descriptions For Patterns Since The Pattern Images Might Be Self Explanatory For The User To Figure Out The Description O f The Pattern.

[2021-01-13 04:55] #9 closed

[2021-01-13 04:55] aryashah2k commented on #9
Closing Issues Related To Writing Descriptions For Patterns Since The Pattern Images Might Be Self Explanatory For The User To Figure Out The Description O f The Pattern.

[2021-01-13 04:55] aryashah2k commented on #8
Closing Issues Related To Writing Descriptions For Patterns Since The Pattern Images Might Be Self Explanatory For The User To Figure Out The Description O f The Pattern.

[2021-01-13 04:55] #8 closed

[2021-01-13 04:56] aryashah2k commented on #2
Individual Issues To Be Opened For Each Type Of Pattern Section Moving Forward From Here.

[2021-01-13 04:56] #2 closed

[2021-01-13 04:57] aryashah2k commented on #3
Individual Issues To Be Opened For Each Type Of Pattern Section Moving Forward From Here.

[2021-01-13 04:57] #3 closed

[2021-01-13 11:24] #22 closed

[2021-01-13 11:24] aryashah2k commented on #22
Issue Successfully Addressed and PR Merged! Credits to : @neelima-girlcoder

[2021-01-13 13:32] neelima-girlcoder opened #24 "Add Java Series Patterns"
@aryashah2k  ,I would like to start contributing patterns code for series pattern in Java

[2021-01-13 16:47] aryashah2k commented on #24
Sure Please go ahead with the creation of series patterns for Java . I have assigned this issue to you. Thanks for the contributions on spiral patterns too!

[2021-01-14 03:56] aryashah2k commented on #24
Issue Successfully Addressed and PR Merged! Credits to : @neelima-girlcoder

[2021-01-14 03:56] #24 closed

[2021-01-14 03:58] aryashah2k commented on #21
Hi there, the PR has been successfully merged for patterns 1 - 17. Looking forward to have you complete the whole section and will close this issue thereon.
Thanks a lot for the contributions!

[2021-01-14 04:00] aryashah2k opened #27 "Add Pyramid Patterns | Java"
Add Code files for various pyramid patterns under the Java Folder Section

[2021-01-14 04:01] aryashah2k opened #28 "Add Numeric Patterns | Java"
Add Code files for various Numeric patterns under the Java Folder Section

[2021-01-14 04:02] aryashah2k opened #29 "Add Symbol Patterns | Java"
Add Code files for various symbol patterns under the Java Folder Section

[2021-01-14 04:09] aryashah2k opened #30 "Add Alphabetic Patterns | Java"
Add Code files for various Alphabetic patterns under the Java Folder Section

[2021-01-14 07:42] aryashah2k commented on #21
The Java Wave Patterns Section has been completed . Thanks @trial1user for your efforts towards this contributions. Feel free to work on other issues or open new ones that can help complete this repository!

[2021-01-14 07:42] #21 closed

[2021-01-14 07:46] neelima-girlcoder commented on #29
Hey @aryashah2k , I can work on the symbol patterns for java. If you found my previous work useful, please consider assigning me this issue!

[2021-01-14 07:48] aryashah2k commented on #29
Hi @neelima-girlcoder , Your previous work was amazing and has tremendously benefitted this repository. You can surely work on the symbol patterns. Since this is a long one - around 79 patterns, I request you to take your time and you can submit code files in blocks of 10 or whatever number suits you. I dont expect to get all codes in one shot. All the best and keep me updated with your progress!

[2021-01-16 03:07] aryashah2k opened #33 "Java Programming Patterns - Convert Existing 2 Column Format To 4 Column Format"

[2021-01-16 03:07] aryashah2k opened #34 "Add Symbol Patterns | Python"

[2021-01-16 03:08] aryashah2k opened #35 "Add Numeric Patterns | Python"

[2021-01-16 03:08] aryashah2k opened #36 "Add Alphabetic Patterns | Python"

[2021-01-16 03:08] aryashah2k opened #37 "Add Pyramid Patterns | Python"

[2021-01-16 03:09] aryashah2k opened #38 "Add Series Patterns | C Language"

[2021-01-16 03:12] aryashah2k commented on #27
Hey @aryashah2k , I can work on pyramid patterns for java. I have previously worked on Java Wave patterns. you can assign this issue to me.

[2021-01-16 03:13] trial1user commented on #27
Hey @aryashah2k , I can work on pyramid patterns for java. I have previously worked on Java Wave patterns. you can assign this issue to me.

[2021-01-18 03:39] aryashah2k commented on #29
Hey @neelima-girlcoder , I've reviewed all your PRs and Thanks to you, the symbol patterns section for Java is complete. You've done a great job, thanks for your contributions, feel free to take up any other issue or create one. All the best
Regards, Arya.

[2021-01-18 03:39] #29 closed

[2021-01-18 16:18] aryashah2k commented on #34
All Patterns Have Been added Under Symbol Patterns for Python

[2021-01-18 16:18] #34 closed

[2021-01-18 16:18] aryashah2k opened #41 "Add Spiral Patterns | C#"

[2021-01-18 16:19] aryashah2k opened #42 "Add Wave Patterns | C#"

[2021-01-18 16:19] aryashah2k opened #43 "Add Series Patterns | C#"

[2021-01-18 16:19] aryashah2k opened #44 "Add Pyramid Patterns | C#"

[2021-01-18 16:20] aryashah2k opened #45 "Add Numeric Patterns | C#"

[2021-01-18 16:20] aryashah2k opened #46 "Add Alphabetic Patterns | C#"

[2021-01-18 16:20] aryashah2k opened #47 "Add Symbol Patterns | C#"

[2021-01-18 16:27] neelima-girlcoder commented on #30
Hello once again! @aryashah2k  I can take up alphabetic patterns and numeric patterns for Java. Since these are quite big i wont mind if you assign this issue to me and one more contributor who could work on these as well. For now you can assign this issue to me.

[2021-01-18 16:28] neelima-girlcoder commented on #28
Hello once again! @aryashah2k  I can take up alphabetic patterns and numeric patterns for Java. Since these are quite big i wont mind if you assign this issue to me and one more contributor who could work on these as well. For now you can assign this issue to me.

[2021-01-18 16:32] trial1user commented on #30
Hey there at @aryashah2k @neelima-girlcoder , I can work on this issue too. I would appreciate dividing work for this section and taking up some part of this section.  you can assign me this issue too @aryashah2k  and i can coordinate with @neelima-girlcoder  on the division of work.

[2021-01-18 16:32] trial1user commented on #28
Hey there at @aryashah2k @neelima-girlcoder , I can work on this issue too. I would appreciate dividing work for this section and taking up some part of this section.  you can assign me this issue too @aryashah2k  and i can coordinate with @neelima-girlcoder  on the division of work.

[2021-01-18 16:35] aryashah2k commented on #30
That's amazing, thanks a lot for the willingness to work on this issue together! I am assigning this issue to you @trial1user  . Also keep me posted on the way you distribute the work. Also you have pyramid patterns assigned to you too...

[2021-01-18 16:35] aryashah2k commented on #28
That's amazing, thanks a lot for the willingness to work on this issue together! I am assigning this issue to you @trial1user  . Also keep me posted on the way you distribute the work. Also you have pyramid patterns assigned to you too...

[2021-01-19 15:36] aryashah2k commented on #27
Hey there @trial1user , that's some really amazing work. Thanks a lot for working on this. I have successfully merged the PR. Grateful to have your contributions towards this repository!

[2021-01-19 15:36] #27 closed

[2021-01-19 15:42] arun-jain-dev commented on #47
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:42] arun-jain-dev commented on #46
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:42] arun-jain-dev commented on #45
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:42] arun-jain-dev commented on #44
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:43] arun-jain-dev commented on #44
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:43] arun-jain-dev commented on #44
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:43] arun-jain-dev commented on #43
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:44] arun-jain-dev commented on #42
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:44] arun-jain-dev commented on #41
@aryashah2k  Since none of the contributors have taken up the C# Section of this repository and I have some experience in this language, I could work for the complete section of C#.
You can assign me all the issues for C# Patterns and I promise I can complete them as soon as possible. Its been a long time since I have practiced such programs using C# so this would help me master the language a bit

[2021-01-19 15:46] aryashah2k commented on #47
Sure @arun-jain-dev  Thanks for taking this initiative. I might trust you with the responsibility of the complete C# Section since none of us have experience with this language. Take your time and help complete the C# Section of the repository
All the Best!

[2021-01-23 08:27] aryashah2k commented on #37
All Code Files Have Been Successfully Added

[2021-01-23 08:27] #37 closed

[2021-01-23 08:27] aryashah2k commented on #36
All Code Files Have Been Successfully Added

[2021-01-23 08:27] #36 closed

[2021-01-23 08:27] aryashah2k commented on #35
All Code Files Have Been Successfully Added

[2021-01-23 08:27] #35 closed

[2021-01-24 08:26] arun-jain-dev commented on #43
@aryashah2k PR created successfully for this issue

[2021-01-24 08:27] arun-jain-dev commented on #42
@aryashah2k PR created successfully for this issue

[2021-01-24 08:27] arun-jain-dev commented on #41
@aryashah2k PR created successfully for this issue

[2021-01-24 08:35] arun-jain-dev commented on #44
@aryashah2k PR created successfully for this issue

[2021-01-24 08:41] aryashah2k commented on #44
Hey @arun-jain-dev , I've reviewed your work and successfully merged the PR ! Thanks for the contributions. Youve done a great job for the C# Section of this repository.

[2021-01-24 08:41] #44 closed

[2021-01-24 08:41] aryashah2k commented on #41
Hey @arun-jain-dev , I've reviewed your work and successfully merged the PR ! Thanks for the contributions. Youve done a great job for the C# Section of this repository.

[2021-01-24 08:41] #41 closed

[2021-01-24 08:41] aryashah2k commented on #43
Hey @arun-jain-dev , I've reviewed your work and successfully merged the PR ! Thanks for the contributions. Youve done a great job for the C# Section of this repository.

[2021-01-24 08:41] #43 closed

[2021-01-24 08:42] aryashah2k commented on #42
Hey @arun-jain-dev , I've reviewed your work and successfully merged the PR ! Thanks for the contributions. You've done a great job for the C# Section of this repository.

[2021-01-24 08:42] #42 closed

[2021-01-25 11:10] Rajat-Jain29 commented on #15
In this program, you'll learn to create pyramid, half pyramid, inverted pyramid, Pascal's triangle and Floyd's triangle sing control statements in C Language.

[2021-01-25 11:11] Rajat-Jain29 commented on #15
Assign it to me . I will definitely solve it.

[2021-01-25 11:55] aryashah2k commented on #15
Sure, Assigning you for the patterns youve mentioned: "pyramid, half pyramid, inverted pyramid, Pascal's triangle and Floyd's triangle sing control statements in C Language."

[2021-01-25 16:57] aryashah2k commented on #47
PR Successfully merged for this issue

[2021-01-25 16:57] #47 closed

[2021-01-25 16:57] aryashah2k commented on #46
PR Successfully merged for this issue

[2021-01-25 16:57] #46 closed

[2021-01-25 16:59] aryashah2k opened #55 "C# Programming Patterns - Convert Existing 2 Column Format To 4 Column Format"

[2021-01-25 17:01] aryashah2k opened #56 "Add Documentation For Python Pattern Programs"
Add documentation in form of step by step tutorial depicting the logic behind printing various types of patterns that exist in the repository

[2021-01-25 17:03] aryashah2k opened #57 "Add Documentation for C Pattern Programs"
Add documentation in form of step by step tutorial depicting the logic behind printing various types of patterns that exist in the repository

[2021-01-25 17:03] aryashah2k opened #58 "Add Documentation for C++ Pattern Programs"
Add documentation in form of step by step tutorial depicting the logic behind printing various types of patterns that exist in the repository

[2021-01-26 05:41] aryashah2k commented on #45
PR for Issue successfully merged. Credits to @arun-jain-dev

[2021-01-27 13:21] aryashah2k commented on #45
@arun-jain-dev , I just checked the PR for this issue, it seems you have added the wrong files since all of them are empty! Please rectify this error and add files with code inside.

[2021-01-27 14:07] arun-jain-dev commented on #45
Oh my god I'm so sorry I never realized this. I have rectified my mistakes and created the fresh PRs with files that are not empty and have all the code inside. I guess I might have pushed all the files from my old directory where all the files were empty and served as a template for all the pattern programs.
Please accept the apology and merge the PRs with all the completed patterns!

[2021-01-27 14:10] aryashah2k commented on #45
It's alright buddy I'm glad that you rectified it quickly, Im closing this issue and have merged the PR by then.
Again I would thank you for all your contributions. You single handedly managed writing code for the C# Section which has tremendously helped this repository.
All the best,
Arya

[2021-01-27 14:10] #45 closed

[2021-01-30 04:09] aryashah2k opened #63 "Create A Webpage For This Repository"
The only way to increase the reach for this repository is via creating a webpage (possibly hosted on Github Pages) with all the programs in all the programming languages. This way it becomes easy to share the content of this repository to every person who could benefit from the content of this repository.
The Tech Stack completely depends on you whatever you are comfortable in projecting this repo

[2021-01-30 12:11] ChlorinePentoxide commented on #63
Sound good.
How do you want the webpage to be like?
I can try...

[2021-01-30 12:14] aryashah2k commented on #63
Hey there buddy, thanks for reaching out!, So basically I want a website in a way that it populates my github repo with all its content- should be intuitive since majorly students will be using it. Feel free to come up with any queries regarding the repo, I'm pretty active here!
Tech stack-depends on you
UI- Depends on you and I can give my inputs for the same

Feel free to use any frameworks if y

[2021-01-30 12:19] aryashah2k commented on #63
You can browse through the repo and understand the aim behind its creation!
A user should be able to find the code from the huge pattern collection that exists in the repository.

Feel free to connect for better communication!
LinkedIn:https://www.linkedin.com/in/arya--shah/
Twitter:https://twitter.com/aryashah2k

[2021-01-30 12:22] ChlorinePentoxide commented on #63
You can check this website I designed - bitphoton.ml
If you like it I can design this in the same way,

P.S: I am NOT a pro, just an amatuer.
P.P.S: I am also a java dev and I see that all java tasks are taken. Feel free to assign (if required) to me in the future of such tasks, I shall more than happy to help.

Cheers!!

[2021-01-30 12:27] aryashah2k commented on #63
Sure buddy, the Java section has two sections still left and you can definitely join the existing contributors there, I'll assign you those issues, you can check them here #30 #28 If you're comfortable in working on them, then do go ahead.
Also for the website thing, I checked out your work and its great and might suit my repository's purpose, you could create a prototype website for my repo and I

[2021-01-30 12:31] ChlorinePentoxide commented on #63
Yes, I am delighted you liked it.
I shall start the work on the prototype right away.

Question: Does the project have a official logo, symbol anything ?? or does it have to be a just the name?

[2021-01-30 12:34] aryashah2k commented on #63
Well Well, I havent thought on a project logo, might ask my designer friends to get me one made, is there any way you can hold that and create without need for that? In turn, let your creativity also reflect! You can go ahead and add a logo from your side or simply add a dummy one for now to suit the purpose!😊

[2021-01-31 13:06] ChlorinePentoxide commented on #63
I have an initial preview of the website. You can check it out [here](https://lucid-dijkstra-752329.netlify.app/)
Known improvement scopes/issues:
* The page isn`t responsive i.e it does not scale well on mobile widths and heights
* The links do not work, I will add those ones after other pages (about, and browse) are done.

You might want to change the color theme of the website. Currently it bla

[2021-01-31 13:07] ChlorinePentoxide commented on #63
+ also it does deploy on Github Pages, I am just using Netlify here since I had an account there and it works faster.

[2021-01-31 13:43] aryashah2k commented on #63
Thats wonderful, I saw the website and it suits the purpose and is pretty well for version 1.0! (I hope you will be working with me in the future too😊)
Some Inputs:
- Please could you change the theme to a dark background?
Something like this:
![Untitled](https://user-images.githubusercontent.com/73865728/106385879-6c015d00-63f8-11eb-9a26-7ab3a86d9870.png)

- Align this section also to the left on

[2021-01-31 14:12] ChlorinePentoxide commented on #63
I so very glad you liked it. I do something up my sleeve to make it responsive.
I will align it to the left.
Sure, I will notify you when the links work.

Cheers,
ChlorinePentoxide

[2021-02-06 10:01] ChlorinePentoxide commented on #63
Hey there,
Are the patterns same across all language or is it specific?
If they are the same could you mind linking them here so I can use them for the website?

ChlorinePentoxide

[2021-02-06 10:06] aryashah2k commented on #63
Hey there, the patterns are mostly same across all languages, I'm adding the links to the readmes for each language here, hope that was exactly what you were trying to convey!
C -https://github.com/aryashah2k/Printing-Pattern-Programs/blob/main/C%20Pattern%20Programs/README.md
C++-https://github.com/aryashah2k/Printing-Pattern-Programs/blob/main/C%2B%2B%20Pattern%20Programs/README.md
C#-https://gi

[2021-02-06 10:08] ChlorinePentoxide commented on #63
If they are the same, then that will save me a lot of work.
Thanks
P.S Currently creating the Browse pages, drop some suggestions if required

[2021-02-06 10:53] aryashah2k commented on #63
Cool , I ran down all the folders and concluded that all the patterns are same for all the languages, each language has the same number of patterns so you can have images from any one folder and do it for the rest of the languages!

[2021-02-06 10:54] aryashah2k commented on #63
Indeed I would love to discuss the layout of the webpage, what is the progress and if you could send a screenshot and I could suggest some ideas!

[2021-02-06 11:39] ChlorinePentoxide commented on #63
Checkout [this](https://lucid-dijkstra-752329.netlify.app/browse.html)
I have not started work on the responsiveness and dark themes, though I will be implementing it very soon, after the browse
pages and code pages have been done.

Question: How do we want the code to be displayed, in the sense should we redirect the user to a different webpage (which is easier and looks best) or appear like a po

[2021-02-06 11:53] aryashah2k commented on #63
Hey there, I checked it out, it's perfect and exactly aligns the way I pictured it, So I believe that the way you described-"_in the sense should we redirect the user to a different webpage (which is easier and looks best)_" is the best way to take it forward!
Buddy trust me I've grown fond of the work you've done and really looking forward to the final product!
You might have better understanding

[2021-02-06 11:59] aryashah2k commented on #63
Also what I've understood behind how the webpage will work is that the patterns will be displayed and from the top left

![Untitled](https://user-images.githubusercontent.com/73865728/107117523-c428db00-68a0-11eb-91e7-a3235739303b.png)

So, as we change the language, the links for the code behind the patterns will be changed for that language right?

[2021-02-06 12:16] ChlorinePentoxide commented on #63
When the user selects a specific pattern, the javascript in the website processes the pattern code and the selected language to redirect the user to a specific language implementation of the pattern. This approach could not have been possible if the patterns were not same across the different language. So really condensed my work.
I am not sure if it would look exactly good, but the headings which

[2021-02-06 12:20] aryashah2k commented on #63
Got it, so for changes on my part, I need to get rid of # in the C# so do I make it CSharp? Will that work?

[2021-02-06 12:23] ChlorinePentoxide commented on #63
Yes that will do. Check other paths too.
Please also do tell whether we go color coded or increasing numbers.
The preview for color-coding is available [here](https://lucid-dijkstra-752329.netlify.app/browse.html) as well.

[2021-02-06 12:26] aryashah2k commented on #63
So, the color coded ones is perfect and you can proceed with that, I'm checking all the paths and getting rid of all the signs that may cause trouble.

[2021-02-06 12:28] ChlorinePentoxide commented on #63
Perfect. I will move on and other patterns.
I am currently enjoying this thoroughly.
Thanks for the opportunity,
I will let you know when the first complete working demo is possible, which is very soon.

Cheers,
ChlorinePentoxide

[2021-02-06 12:33] aryashah2k commented on #63
Pleasure working with you buddy! I've made the changes you requested and we are good to go!
I respect the fact that you considered taking source code directly from the repository since the repo is still not complete with codes for a few languages, so that really takes care of the state of website which gets dynamically updated as the repository progresses towards completion.

[2021-02-07 08:32] ChlorinePentoxide commented on #63
Yes its best to change that too.
* A small correction required, the images in subfolders series and wave patterns do not fit the standard(all others) size of 160x160 pixels you may want to fit the patterns to that size for uniformity in display space. Do note that it is still possible to work with non-standard image size but will stand out because it will look different.
* Another small discrepanc

[2021-02-07 09:59] aryashah2k commented on #63
Hi, so I shall proceed making those wave pattern images into 160x160 size?

I'll also make sure to convert that png image to jpeg

The new color scheme is awesome! Would you be doing further improvements into making the complete background dark? Let me know, The work till now is amazing!!!

[2021-02-07 10:03] ChlorinePentoxide commented on #63
Lets make everything into standard size of 160x160.
Yes I will be working on the dark color scheme once the code pages have been done.
Thanks for the response.

Cheers
ChlorinePentoxide

[2021-02-07 10:13] aryashah2k commented on #63
I've made all the changes requested! You can proceed further without any hindrance...!

[2021-02-07 10:28] aryashah2k commented on #63
I've made all the changes required:

The images are now uniform size 160x160
The Pattern 49 is now jpeg

Thanks a lot for taking your time out on a sunday to work on this, really appreciate it!

[2021-02-07 10:40] ChlorinePentoxide commented on #63
No problem. I usually feel bored on weekends.
Check the website out [now](https://lucid-dijkstra-752329.netlify.app/browse.html). It has added search functionality.
Known Issues: I do know the search isn`t working perfectly and will look to fix it very soon.
I will be moving on to the code pages. If you have any inputs please do share.

ChlorinePentoxide

[2021-02-07 11:10] aryashah2k commented on #63
That's wonderful, the website is really improved and feels populated now, also you can move forward wityh adding for the remaining two pattern types which are now in 160X160 resized(Series and Wave Patterns)

The fikter pattern does work only thing is to find a workaround to sort of bring the filtered content right to the top. I tried with the lowest situated pattern and had to scroll right below

[2021-02-07 13:38] ChlorinePentoxide commented on #63
I have preview for the code pages [here](https://lucid-dijkstra-752329.netlify.app/codeview.html)
Shall I go ahead and generate the html files for all the source files?

Few points to note:
* The source uses a webservice called EmGithub which takes a Github file and embeds it into a webpage using a static link of the file.
* I see some code has not be written (for C and C++), the EmGithub links ca

[2021-02-07 13:43] aryashah2k commented on #63
Hi, I checked the source page and it's neat and well and suits the purpose,

Regarding the case of missing source code files for c and c++ what do you suggest should be done?

Do I add empty files in .c and .CPP formats for the missing patterns as of now and you link them and layer any contributor or myself could update it with the code inside and will the changes reflect in the emgithub generated

[2021-02-07 14:17] ChlorinePentoxide commented on #63
I suggest you add an issue regarding naming conventions for different languages, so I can generate the code based on those patterns, any voluntary contributor will know where and how exactly he/she must frame the code, and emgithub will operate without any hiccups in the foreseeable future.
Please cover the naming conventions, how to name alternative method files, alignment of code and depth which

[2021-02-07 14:43] aryashah2k commented on #63
Sure I'll add an issue regarding naming conventions for pattern code files.

As of now, every contributor has quite maintained the naming convention without it being explicitly stated and mostly I will only be the one who shall take up the remaining two languages code files so rest assured, the convention shall remain the same...

Also for alternative patterns, I'm going to inform individual contr

[2021-02-07 14:44] aryashah2k commented on #63
Just let me know about this:
_I just wanted to ask that of I add blank .c and .cpp files alreadu witut he correct naming convention followed till now will the source page get updated once code is updated in that blank file?_

[2021-02-08 13:04] ChlorinePentoxide commented on #63
Don`t mind. I will take care of it. :)

[2021-02-15 09:21] aryashah2k commented on #63
Hey @ChlorinePentoxide , I have merged all alternative programs into a single file for various patterns in all the language folders. I hope all the hurdles have been cleared... Do let me know how the webpage is progressing, I havent added Blank Files for pending pattern programs , let me know if you want me to do that... Apologies to ping you on a weekday, you can acknowledge this message during t

[2021-02-15 15:30] ChlorinePentoxide commented on #63
Thanks!! Saves me a lot of work.

[2021-02-15 17:31] aryashah2k commented on #63
Yup no issues, take your own time, there's no hurry! As and when you can take time out for this project, it's up to you how to proceed...!

[2021-02-23 12:07] ChlorinePentoxide commented on #63
So sorry, I didn`t update you on the progress this Sunday. I haven`t updated the netlify cloud website. I will be doing that this Sunday. Here is the progress I have made so far:
* Added extra themes
* Made it responsive, finally (Subject to testing, lol)

With regards,
ChlorinePentoxide

[2021-02-24 04:58] aryashah2k commented on #63
Hey @ChlorinePentoxide , thanks for the update, waiting for this Sunday to view your creation, by then the Java section shall also be compete hopefully, I have personally requested the contributors to help speed up the completion of pending sections, I myself am personally working on C and C++ Section to ensure timely completion!!

[2021-02-27 12:00] ChlorinePentoxide commented on #63
Hey there,
We hit a roadblock...
The service I had intended to use (EmGithub) for dynamic sourcing, is not working properly.
I am afraid that we have to fallback.
Instead I intend to create an application that will generate the required web pages from the sources automatically. The only downside being this has to be done manually.

Now onto some good news,
The web design part is almost over. I int

[2021-02-27 14:40] aryashah2k commented on #63
Hey there, no issues, since adding manually will be a lot of hard work, I encourage you take your time and maybe figure out an alternative for emgithub. Also thanks for completing work on design part, cant wait to see how the webpage looks !! Eagerly waiting for the PR.
Take care,
Regards,
Arya

[2021-02-28 13:35] ChlorinePentoxide commented on #63
I had already searched alternatives for EmGithub, and the short answer is there are none.

The good news is the development for the application is almost over and it works like magic.
The application is responsible for doing all the tasks like creating the webpage for individual pages.
Here is shortlist of all the things it is able to do currently:
* Construct web pages from templates
* Take infor

[2021-02-28 13:37] ChlorinePentoxide commented on #63
I accidently pressed unassign, sorry,
you can reassign me

[2021-02-28 15:41] aryashah2k commented on #63
Hi there, that's great progress, no issues, take your time...I shall open a gitter chat room for this project by today. Havent used gitter before if there are any suggestions to that then do let me know!!

[2021-03-07 09:28] ChlorinePentoxide commented on #63
Please do check the gitter, often !!
:)

[2021-05-07 12:48] aryashah2k commented on #4
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:48] #4 closed

[2021-05-07 12:48] aryashah2k commented on #5
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:48] #5 closed

[2021-05-07 12:49] aryashah2k commented on #11
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:49] #11 closed

[2021-05-07 12:49] aryashah2k commented on #12
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:49] aryashah2k commented on #13
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:49] #13 closed

[2021-05-07 12:49] aryashah2k commented on #14
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:49] aryashah2k commented on #15
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:49] #15 closed

[2021-05-07 12:49] aryashah2k commented on #16
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:49] #16 closed

[2021-05-07 12:49] aryashah2k commented on #17
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #12 closed

[2021-05-07 12:52] aryashah2k commented on #18
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #18 closed

[2021-05-07 12:52] aryashah2k commented on #19
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #19 closed

[2021-05-07 12:52] aryashah2k commented on #28
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #28 closed

[2021-05-07 12:52] aryashah2k commented on #30
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #30 closed

[2021-05-07 12:52] aryashah2k commented on #33
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #33 closed

[2021-05-07 12:52] aryashah2k commented on #38
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #38 closed

[2021-05-07 12:52] aryashah2k commented on #55
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #55 closed

[2021-05-07 12:52] aryashah2k commented on #56
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #56 closed

[2021-05-07 12:52] aryashah2k commented on #57
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #57 closed

[2021-05-07 12:52] aryashah2k commented on #58
Relevant issues have been migrated to PatternHouse Organization Repositories
https://github.com/PatternHouse

[2021-05-07 12:52] #58 closed